# Build outputs - only!
*.[oa]
*.mod
*.mod.[co]
*.cell
*.cmd
*.bin
*.gcno
*.gcda
.tmp_versions
*.dtb
*.dtb.S
*.dtb.*.tmp
*.8
.cache.mk
Module.symvers
modules.order
driver/jailhouse.ko
include/jailhouse/config.h
hypervisor/hypervisor.lds
inmates/lib/arm/inmate.lds
inmates/lib/arm64/inmate.lds
pyjailhouse/pci_defs.py
tools/demos/cache-timings
tools/demos/ivshmem-demo
tools/jailhouse
tools/jailhouse-gcov-extract
tools/jailhouse-config-collect
tools/membomb
tools/utilstress
Documentation/generated
hypervisor/include/generated
hypervisor/arch/*/include/generated
*.s
ci/out
ci/*.tar.xz
*.pyc
.cache/
compile_commands.json
.DS_Store
._.DS_Store
*.d
*.o
*.tmp
*.cmd
inmates/demos/*/*.bin
Module.symvers
configs/arm64/dts/inmate-amd-seattle.dtb
configs/arm64/dts/inmate-espressobin.dtb
configs/arm64/dts/inmate-foundation-v8.dtb
configs/arm64/dts/inmate-hikey.dtb
configs/arm64/dts/inmate-imx8mm-evk.dtb
configs/arm64/dts/inmate-imx8mn-ddr4-evk.dtb
configs/arm64/dts/inmate-imx8mp-evk.dtb
configs/arm64/dts/inmate-imx8mq-evk.dtb
configs/arm64/dts/inmate-jetson-tx1.dtb
configs/arm64/dts/inmate-k3-am625-sk-emmc.dtb
configs/arm64/dts/inmate-k3-am625-sk.dtb
configs/arm64/dts/inmate-k3-am654-idk-emmc.dtb
configs/arm64/dts/inmate-k3-am654-idk.dtb
configs/arm64/dts/inmate-k3-j7200-evm.dtb
configs/arm64/dts/inmate-k3-j721e-evm.dtb
configs/arm64/dts/inmate-ls1028a-rdb.dtb
configs/arm64/dts/inmate-ls1043a-rdb-dpaa.dtb
configs/arm64/dts/inmate-ls1043a-rdb.dtb
configs/arm64/dts/inmate-ls1046a-rdb.dtb
configs/arm64/dts/inmate-ls1088a-rdb.dtb
configs/arm64/dts/inmate-ls2088a-rdb.dtb
configs/arm64/dts/inmate-macchiatobin.dtb
configs/arm64/dts/inmate-miriac-sbc-ls1046a.dtb
configs/arm64/dts/inmate-pine64-plus.dtb
configs/arm64/dts/inmate-qemu-arm64.dtb
configs/arm64/dts/inmate-rpi4.dtb
configs/arm64/dts/inmate-zynqmp-zcu102-2.dtb
configs/arm64/dts/inmate-zynqmp.dtb
configs/arm64/zynqmp-kv260-RPU-inmate-demo.cell
driver/jailhouse.ko
driver/jailhouse.mod
driver/jailhouse.mod.c
driver/modules.order
driver/vpci_template.dtb
driver/vpci_template.dtb.S
hypervisor/arch/arm64/asm-defines.s
hypervisor/arch/arm64/lib.a
hypervisor/hypervisor.lds
hypervisor/include/generated/
inmates/demos/armr5/baremetal-demo.elf
inmates/lib/arm64/lib.a
inmates/lib/armr5/lib/libfreertos.a
inmates/lib/armr5/lib/libxil.a
modules.order
pyjailhouse/__pycache__/
pyjailhouse/pci_defs.py
tools/demos/ivshmem-demo
tools/jailhouse
tools/jailhouse-cell.8
tools/jailhouse-config-collect
tools/jailhouse-enable.8
tools/jailhouse-gcov-extract
tools/jailhouse.8
