# Build outputs - only!
*.[oa]
*.mod
*.mod.[co]
*.cell
*.cmd
*.bin
*.gcno
*.gcda
.tmp_versions
*.dtb
*.dtb.S
*.dtb.*.tmp
*.8
.cache.mk
Module.symvers
modules.order
driver/jailhouse.ko
include/jailhouse/config.h
hypervisor/hypervisor.lds
inmates/lib/arm/inmate.lds
inmates/lib/arm64/inmate.lds
pyjailhouse/pci_defs.py
tools/demos/cache-timings
tools/demos/ivshmem-demo
tools/jailhouse
tools/jailhouse-gcov-extract
tools/jailhouse-config-collect
tools/membomb
tools/utilstress
Documentation/generated
hypervisor/include/generated
hypervisor/arch/*/include/generated
*.s
ci/out
ci/*.tar.xz
*.pyc
.cache/
compile_commands.json
.DS_Store
._.DS_Store
.vscode/*
*.cell
*.d
*.o
*.tmp
*.cmd
inmates/demos/*/*.bin
inmates/tools/arm64/*.bin
Module.symvers
configs/arm64/dts/*.dtb
driver/jailhouse.ko
driver/jailhouse.mod
driver/jailhouse.mod.c
driver/modules.order
driver/vpci_template.dtb
driver/vpci_template.dtb.S
hypervisor/arch/arm64/asm-defines.s
hypervisor/arch/arm64/lib.a
hypervisor/hypervisor.lds
hypervisor/include/generated/
inmates/demos/armr5/baremetal-demo.elf
inmates/lib/arm64/lib.a
inmates/lib/armr5/lib/libfreertos.a
inmates/lib/armr5/lib/libxil.a
modules.order
pyjailhouse/__pycache__/
pyjailhouse/pci_defs.py
tools/demos/ivshmem-demo
tools/jailhouse
tools/jailhouse-cell.8
tools/jailhouse-config-collect
tools/jailhouse-enable.8
tools/jailhouse-gcov-extract
tools/jailhouse.8
hypervisor/jailhouse.bin
build
pyjailhouse.egg-info
